<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

            {% bootstrap_messages %}
                <form method="post" class="form ml-5 mr-5 mt-5">
                    <div class="mb-2">
        <h1 class="h3 mb-3 font-weight-normal">Escalation Tracker</h1>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Sign up</button>
                        {% endbuttons %}</div>

    </form>
</body>
</html>