<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profile</title>

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Hello, {{user}}</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        {% if user.image %}
                        <img src=" {{user.image.url}}" class="img-fluid img-thumbnail">
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <strong class="text text-success">
                            &nbsp;&nbsp;&nbsp;Emp Code : {{user.emp_code}}</strong>
                    </li>

                     <li class="nav-item">
                        <a href="/accounts/profile/">Home</a>
                    </li>

                </ul>

                <!--<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">-->
                <!--<span>Saved reports</span>-->
                <!--<a class="d-flex align-items-center text-muted" href="#">-->
                <!--<span data-feather="plus-circle"></span>-->
                <!--</a>-->
                <!--</h6>-->

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                <h1 class="h2">Tickets <small>{{status_display}}</small></h1>
            </div>
            <div class="mb-2">
                    <!--<button class="btn btn-primary" title="Submit" type="submit">-->
                        <!--Submit-->
                    <!--</button>-->

                    <a class="btn" href='javaScript: window.open("http://127.0.0.1:8000/tickets/new/", "MsgWindow", "width=600,height=500");' title="Add new Item">
                        <small data-feather="plus"></small>
                    </a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped" style="font-size:70%;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>DATE</th>
                        <th>CLINIC</th>
                        <th>AGING/BATCH</th>
                        <th>ACCOUNT</th>
                        <th>PAT NAME</th>
                        <th>INSURANCE NAME</th>
                        <th>DOS</th>
                        <th>CPT CODES</th>
                        <th>BILLED AMOUNT</th>
                        <th>BALANCE AMOUNT</th>
                        <th>STATUS</th>

                        <th>ACTION</th>
                        <th>Escalate To</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>
                                <form method="post" class="form" action="/tickets/delete/">{% csrf_token %}
                                    <input type="hidden" name="delete_id" value="{{ticket.id}}" />
                                    <button type="submit" title="Remove" class="btn btn-sm"><span data-feather="trash"></span></button>
                                </form>
                                &nbsp;&nbsp;
                                <input type="checkbox" name="id" value="{{ticket.id}}">
                            </td>
                            <td>{{ticket.date_created}}</td>
                            <td>{{ticket.clinic}}</td>
                            <td>{{ticket.aging_batch}}</td>
                            <td>{{ticket.account}}</td>
                            <td>{{ticket.patient_name}}</td>
                            <td>{{ticket.insurance}}</td>
                            <td>{{ticket.dos}}</td>
                            <td>{{ticket.cpt_codes}}</td>
                            <td>{{ticket.billed_amount}}</td>
                            <td>{{ticket.balance_amount}}</td>
                            <td>{{ticket.status}}</td>
                            <td>{{ticket.action}}</td>
                            <td>{{ticket.escalate_to}}</td>
                            <td>
                                <a href='javaScript: var new_window = window.open("http://127.0.0.1:8000/tickets/edit/{{ticket.id}}/", "MsgWindow", "width=600,height=500");'>
                                    <span data-feather="edit"></span>
                                </a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            </form>
        </main>
    </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
      feather.replace()
</script>
</body>
</html>
